@model OrderingFood.Models.Bill

@{
    ViewData["Title"] = "Hóa đơn mới";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<h1>Hóa đơn mới </h1>

<div>
    <h4>Thông tin hóa đơn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceToVND)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
    </dl>
</div>
<div class="btn btn-primary">
    <a asp-action="Details" asp-route-id="@Model?.BillId" class="text-light">Xem chi tiết hóa đơn</a> |
    <a asp-controller="Carts" asp-action="Index" class="text-light">Trở về</a>
</div>
