@model IEnumerable<OrderingFood.Models.Bill>

@{
    ViewData["Title"] = "Doanh thu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<h1>Thông tin doanh thu</h1>


<form asp-action="RevenueBill" class="mt-4">
    <div class="input-group ">
       @* <div class="form-outline col-lg-4 col-sm-8 mr-2">
            <input type="date"  name="dateRevenue" class="form-control" placeholder="Chọn thời gian" />
        </div>*@
        <input type="number" class="form-control" name="dayR" placeholder="Chọn ngày"/>
        <input type="number" class="form-control" name="monthR" placeholder="Chọn tháng" />
        <input type="number" class="form-control" name="yearR" placeholder="Chọn năm" />

        <button type="submit" class="btn btn-primary ">
            Tìm kiếm doanh thu theo ngày 
            <i class="ti ti-search fs-6"></i>
        </button>
    </div>
</form>
<div class="btn btn-primary mt-4" id="Export-to-pdf">Xuất file PDF</div>

<div id="bill-revenue-content" class="mt-5">
@if (ViewData["DateToRevenue"] != null)
{
    <h2>Doanh thu trong thời gian  @ViewData["DateToRevenue"]</h2>
}
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BillId)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                Khách hàng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Address)
            </th>
            <th>
                Nhân viên thanh toán
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                
                    <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.BillId" id="details-revenue"  style="width: 50%; overflow: hidden; text-overflow: ellipsis;"> @Html.DisplayFor(modelItem => item.BillId)</a>
                    </td>
                @if (item.Status == "Chưa thanh toán")
                {
                   
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                else
                {
                    <td class="text-success">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }

                <td>
                      @Html.DisplayFor(modelItem => item.PriceToVND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
               
            </tr>
                
        }
    </tbody>
</table>
@if (ViewData["TotalBills"] != null)
{
    <h3>@ViewData["TotalBills"]</h3>
    
}
else
{
    <h3>Tìm kiếm hóa đơn để tính tổng doanh thu</h3>
}
</div>
@section scripts {
    <script>
        $("#Export-to-pdf").click(function () {
            var element = document.getElementById('bill-revenue-content');
            var opt = {
                margin: 1,
                image: { type: 'jpeg', quality: 0.98 },
                pagebreak: { avoid: 'tr' },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' },
                filename: 'doanhthu_' + '@ViewData["DateToRevenue"]' + '.pdf',
            };
            html2pdf().set(opt).from(element).save();
        });
    </script>
}