@model IEnumerable<OrderingFood.Models.Product>


@{
    ViewData["Title"] = "Món ăn";
    Layout = "_Layout";
}

<!-- food section -->

<section class="food_section layout_padding ">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Menu của chúng tôi
            </h2>
        </div>

        <ul class="filters_menu">
            @foreach (var item in ViewBag.CateList)
            {
                <li data-filter="" name="cateToFindFood" >
                    <a asp-action="Index" asp-route-id="@item.CategoryId" class="text-reset">@item.Name</a>
                </li>
            }
           
        </ul>
       

        <div class="filters-content">
            <div class="row grid">
 @foreach (var item in Model) {
     
                <div class="col-sm-6 col-lg-4 all ">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                    <img src="/productImages/@item.ImageUrl" alt="" >
                            </div>
                            <div class="detail-box">
                                <h5>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h5>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                                <div class="options">
                                    <h6>
                                        @Html.DisplayFor(modelItem =>item.PriceToVND)
                                    </h6>
                                        <form asp-action="GetProductToCart" >
                                            <input type="hidden" name="productId" value="@item.ProductId">
                                                <button type="submit" class="btn-success btn">
                                                    Chọn mua
                                                </button>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 }            
        </div>
       @* <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>*@
    </div>
</section>

<!-- end food section -->



