@model IEnumerable<OrderingFood.Models.Product>

@{
    ViewData["Title"] = "Danh sách món ăn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<h1 class="text-uppercase font-weight-bold">Danh sách các món ăn thêm bằng file Excel</h1>

<form asp-action="ImportProductsPdf" enctype="multipart/form-data" class="d-flex ">
        <div class="form-outline ">
            <input type="file" name="file" class="form-control " />
        </div>
    <button type="submit" class="btn btn-primary  text-center"  >
        Chọn file để thêm các món ăn
    </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.PriceToVND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categories!.Name)
                </td>
                <td>
                    <div class="btn btn-primary mb-2 ">
                        <a asp-action="Edit" asp-route-id="@item.ProductId" class="text-light">Chỉnh</a>
                    </div>
                    <div class="btn btn-primary  mb-2 bg-info">
                        <a asp-action="Details" asp-route-id="@item.ProductId" class="text-light">Xem</a>
                    </div>
                    <div class="btn btn-primary  mb-2 bg-danger">
                        <a asp-action="Delete" asp-route-id="@item.ProductId" class="text-light">Xóa</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>